.container{
	position: absolute;
}
h2{
	font-size: 10px;
	margin: 0;
	padding: 0;
	
	border:0;
	text-align: center;
	transform: translateY(50%);
}
.white-border{
	display: block;
	border-right: solid white 1px;
	position: absolute;
	width: 100%;
	height: 80%;
	border-top: 0;
	border-bottom: 0;
	top: 10%;

}
#video-border{
	border-right: 0;
}

.white-border.both{

	border-left: solid white 1px;
}
div{
		background-color: #ccc;
		box-sizing: border-box;
}
.item{
	position: absolute;
	
}
#first-row{
	top: 0%;
	height:20%;
	width: 100%;
	padding: 0;
	margin:0;
	border-bottom: solid white 1px;
	}
#second-row{
	top: 20%;
	height:50%;
	width: 100%;
	padding: 0;
	margin:0;
	}
#third-row{
	top: 70%;
	height:30%;
	width: 100%;
	padding: 0;
	margin:0;
	}
body{
	margin: 0;
	padding: 0;

}
.item{
	
}
#speed{
	right:0;
	width: 33%;
	top:0;
	height: 100%;
	border-bottom: 0;
}
#pressure{
	right: 33%;
	
	width: 33%;
	border-bottom: 0;
	top:0;
	height: 100%;
}
#waterloop{
	background-image: url("waterloop.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	left: 4.5%;
	width: 25%;
	top:0;
	
	height: 60%;
}
#temp1{
width:5%;
height: 100%;

}
#temp2{
width:5%;
left: 5%;
height: 100%;
}
#video-container{
	width: 40%;
	left: 10%;
	height: 100%;
}
#brakes{
height: 80%;
width:25%;
left:50%;
}

#lateral-control{
height: 80%;
width:25%;

left:75%;
}
#motor-temp{
	width: 50%;
	height: 20%;
	left: 50%;
	top: 80%;
}
#current{
width: 50%;
height: 100%;
right: 0;
}
#voltage{
width: 50%;
height:25%;
top: 75%;

}
#battery-pressure{
	height: 75%;
	width: 50%;
}